.contain{
	margin: 2px 2px 0px 2px;
	padding: 10px 20px 10px 20px;
}

form .requis {
    color: #c00;
}

.row{
	margin-bottom: 1em;
}


#container {
    width: 100%;
    height: 270px;
    margin: 0;
    padding: 0;
}

.pseudo{
	font-family: "URW Chancery L", cursive;
	font-size : xx-large;
}

form .erreur {
    color: red;
}